@import url("https://fonts.googleapis.com/css2?family=Mali:wght@500;600&family=Mulish:ital,wght@0,400;0,500;0,600;1,400&display=swap");

:root {
    --primary-font: "Mulish", sans-serif;
    --secondary-font: "Mali", cursive;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: var(--primary-font);
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    flex-direction: column;
}
p {
    line-height: 1.75;
}
header {
    display: flex;
    width: 80%;
    padding: 10px 10%;
    border-bottom: 1px #3333334a solid;
    box-shadow: 0 0 5px #ababab;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 99999;
    background-color: #fff;
}
header h1 {
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
}
nav button.close {
    display: none;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.1rem;
    color: inherit;
}
#home {
    width: 70%;
    padding: 90px 15% 30px;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.home-wrapper {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}
.home-wrapper > div:first-child {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.home-wrapper .img-container {
    max-width: 280px;
    border-radius: 50%;
    border: 5px solid #9e9e9ea1;
    overflow: hidden;
    padding: 0;
}
.home-wrapper .img-container img {
    width: 100%;
    margin: 0;
}
.home-wrapper p:first-of-type {
    margin-bottom: 0;
    font-size: 1.8rem;
    color: #008000b3;
}
.home-wrapper h2 {
    font-size: 3.4rem;
    margin: 0;
    color: #3a3a3a;
}
.home-textual-info p:last-child {
    font-size: 1.05rem;
    margin-top: 0;
    font-weight: 300;
    color: #0000008b;
}
.home-wrapper .container-icons {
    display: flex;
    gap: 20px;
    padding: 0;
}

.home-wrapper .container-icons li {
    list-style: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 3px #33333323;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-wrapper .container-icons svg {
    width: 30px;
    height: 30px;
}
svg:hover {
    fill: #008000b3;
}
svg.github:hover #Dribbble-Light-Preview {
    fill: #008000b3;
}
.tech-stack {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
}
.tech-stack > p {
    font-size: 1.15rem;
    font-weight: 500;
    color: #0000008b;
}
.tech-stack span:first-of-type {
    color: #008000b3;
}
.tech-stack > span {
    color: #0000008b;
    font-size: 1.9rem;
}
.languages-logo {
    display: flex;
    align-items: center;
    gap: 1.8rem;
    flex-wrap: wrap;
}
.languages-logo > div {
    display: flex;
    gap: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.languages-logo img {
    width: 50px;
    height: auto;
    padding: 0;
    margin: 0;
}
.languages-logo .description {
    margin: 2px;
}
#about {
    width: 70%;
    padding: 10px 15%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    place-items: center;
    margin-bottom: 100px;
}
#about > img {
    width: clamp(300px, 400px, 500px);
}
#about .textual-info {
    display: flex;
    flex-direction: column;
    gap: 0;
}
#about .textual-info h1 {
    font-size: 1.2rem;
    color: #008000b3;
    margin: 0;
    padding: 0;
}
#about .textual-info p:first-of-type {
    font-size: 1.9rem;
    font-weight: 500;
    margin: 0;
}
#about p {
    max-width: 80ch;
    font-size: 1.1rem;
    margin: 5px 0;
}

#projects {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 10px 15%;
    margin-bottom: 100px;
}
#projects > h1 {
    font-size: 1.2rem;
    color: #008000b3;
    margin: 0;
    padding: 0;
}
#projects > p {
    font-size: 1.9rem;
    font-weight: 500;
    margin: 0 0 30px 0;
}
#projects .container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 100%;
}
#projects .container > div {
    width: 100%;
    box-shadow: 0 0 2px #b9b6b698;
    border-radius: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 2rem;
    place-items: center;
}
#projects .container > div > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#projects .container > div p {
    max-width: 80ch;
}
#projects .container > div > img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}
#projects .container .projects-icons {
    display: flex;
    gap: 10px;
}
#projects .container .projects-icons a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    text-decoration: none;
}
#projects .container .projects-icons button {
    display: flex;
    padding: 8px 30px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 15px;
    box-shadow: 0 0 3px #3333334a;
    max-height: 40px;
}
#projects .container .projects-icons a:last-of-type button {
    padding: 8px 42px;
}
#projects .container .projects-icons button:hover {
    background-color: #008000b3;
    color: white;
}

#projects .container .projects-icons svg {
    width: 25px;
}
.projects-icons button:hover svg,
.projects-icons button:hover svg.github #Dribbble-Light-Preview {
    fill: #fff;
}
.technologies ul {
    list-style: none;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    padding: 0;
    margin: 5px 0;
}
.technologies ul li {
    border: 1px #008000b3 solid;
    padding: 2px 5px;
    border-radius: 5px;
    box-shadow: 0 0 1px #008000b3;
    color: #008000;
}
#contact {
    display: flex;
    flex-direction: column;
    padding: 30px 15%;
    width: 70%;
    gap: 5px;
}
.contact-addresses {
    display: flex;
    justify-content: space-between;
}
#contact > h1 {
    font-size: 1.2rem;
    color: #008000b3;
    margin: 0;
    padding: 0;
}
#contact > p {
    font-size: 1.9rem;
    font-weight: 500;
    margin: -10px 0 20px 0;
}
.location,
.mail,
.tel {
    display: flex;
    gap: 8px;
}
.location > div:last-of-type,
.mail > div:last-of-type,
.tel > div:last-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}
.contact-addresses h3 {
    margin: 0;
}
.contact-addresses p,
.contact-addresses a {
    margin: 0;
    font-size: 1rem;
    text-decoration: none;
    color: #0000008b;
}
.location > div:first-of-type,
.mail > div:first-of-type,
.tel > div:first-of-type {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 0 3px #3333334a;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-addresses img {
    max-width: 30px;
}
footer {
    padding: 0 15%;
    width: 70%;
    background-color: #3a3a3a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.container-icons-footer {
    margin-bottom: 0;
    display: flex;
    gap: 20px;
    padding: 0;
}
.container-icons-footer svg {
    max-width: 30px;
    max-height: 30px;
}
footer p {
    font-weight: 500;
    font-size: 1.1rem;
}
footer li {
    list-style: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
footer svg {
    fill: #fff;
}
footer svg:hover {
    fill: #008000b3;
}
@media (max-width: 800px) {
    .home-wrapper {
        flex-direction: column-reverse;
        align-items: center;
    }
    .home-textual-info > p:first-child {
        text-align: center;
    }
    .home-textual-info > p:last-child {
        margin-bottom: 0;
    }
    .home-wrapper > div:first-child {
        align-items: center;
        gap: 0px;
        margin-bottom: 5px;
    }
    .tech-stack {
        flex-direction: column;
        justify-items: center;
        gap: 0.5rem;
    }
    .tech-stack > span img {
        transform: rotate(45deg);
        width: 70px;
        height: 70px;
        fill: #333333a4;
    }
    .tech-stack > p {
        margin-bottom: -20px;
    }
    .languages-logo {
        gap: 2rem;
    }
    .languages-logo > div {
        width: 40px;
        font-size: 0.9rem;
    }
    .languages-logo img {
        width: 40px;
    }
    .contact-addresses {
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;
    }
    header {
        width: 86%;
        padding: 10px 7%;
    }
    header button {
        width: 40px;
        height: 30px;
        display: inline-flex;
        justify-content: center;
        padding: 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    header button:hover {
        /* background-color: #cfcfcf82; */
    }
    header button img {
        width: 50px;
        height: 40px;
        cursor: pointer;
    }
    header nav {
        display: none;
    }

    header nav.show-nav {
        display: flex;
        position: fixed;
        left: 0;
        top: 0;
        background-color: #fff;
        height: 100%;
        width: 100%;
        z-index: 999;
        animation: slidein 500ms ease-out 50ms;
    }
    header nav.show-nav ul {
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        font-size: 1.8rem;
        font-weight: 600;
        margin-top: -5%;
        /* animation: order 500ms ease-in-out 100ms; */
    }
    header nav.show-nav > button {
        display: inline-flex;
        position: absolute;
        right: 7%;
        top: 20px;
    }
    @keyframes slidein {
        from {
            transform: translateY(-100%);
        }
        to {
            transform: translateY(0);
        }
    }
    @keyframes order {
        from {
            transform: scale(0);
        }
        to {
            transform: scale();
        }
    }
}
