@import url("https://fonts.googleapis.com/css2?family=Mali:wght@500;600&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&display=swap");

:root {
    --primary-font: "Playfair Display", serif;
    --secondary-font: "Mali", cursive;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: var(--primary-font);
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    width: 84%;
    padding: 10px 8%;
    border-bottom: 1px #3333334a solid;
    box-shadow: 0 0 5px #ababab;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
}
header h1 {
    font-size: 2rem;
    font-weight: 500;
    margin: 0;
}
nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.1rem;
    color: inherit;
}
#home {
    max-width: 100%;
    height: calc(100vh - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-wrapper {
    padding: 40px 120px;
    border-radius: 20px;
    box-shadow: 0 0 5px #3333334a;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(0, -5%);
}
.home-wrapper .img-container {
    border-radius: 50%;
    max-width: 150px;
    max-height: 150px;
    border: 5px solid #9e9e9ea1;
    overflow: hidden;
    padding: 0;
    /* transform: translateY(-75%); */
}
.home-wrapper .img-container img {
    max-width: 150px;
    height: auto;
    margin: 0;
}
.home-wrapper p:first-of-type {
    margin-bottom: 0;
    font-size: 1.2rem;
}
.home-wrapper h2 {
    font-size: 2.2rem;
    margin: 5px auto;
}
.home-wrapper p:last-of-type {
    font-size: 1.2rem;
    margin-top: 0;
}
